body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url("../roomImages/background/pexels-fabian-wiktor-994605.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 0%;
  margin: 0%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  color: white;
  justify-items: center;
  padding: 20px;
}

/* .customers {
  height: 80vh;
  background: linear-gradient(
    rgba(255, 255, 255, 0.165),
    rgba(255, 255, 255, 0.124)
  );
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 10px;
  overflow-y: scroll;
} */

.customerCard {
  display: flex;
  padding: 0.5rem;
  background-color: rgba(3, 23, 41, 0.368);
  backdrop-filter: blur(14px);
  border-radius: 50px;
  margin: 10px;
}

.customerInfo {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 0.5rem;
}

.customerCard > img {
  border-radius: 50%;
  width: 50px;
  border: solid white 1px;
}

/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 10px;
} */

.roomsContainerGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
  background-color: rgba(240, 248, 255, 0.165);
  width: 100%;
  border-radius: 20px;
  height: fit-content;
  margin-top: 10px;
  box-shadow: inset 0px 0px 20px rgb(255, 255, 255);
  /* overflow-y: scroll; */
}

.roomsCard {
  text-align: justify;
  border: solid 1px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.104);
  backdrop-filter: blur(14px);
  border-radius: 20px;
  height: 330px;
  overflow: hidden;
  margin: 20px;
}

.roomsCard > img {
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 50%;
}

.roomsDescription {
  font-size: 11px;
  text-align: justify;
  padding: 5px;
  word-break: break-all;
}

.roomsCard h3 {
  padding: 5px;
}

.roomsCard > p {
  margin-top: -10px;
}

.adminMenu {
  background-color: rgba(240, 248, 255, 0.165);
  border-radius: 20px;
  text-align: center;
  width: 100%;
  height: fit-content;
  color: white;
}

li {
  list-style-type: none;
}

ul {
  padding: 0px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.active {
  font-weight: 600;
}

@media (max-width: 1100px) {
  .roomsContainerGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.roomsContainerGrid > .customerCard {
  justify-self: stretch;
}

@media (max-width: 800px) {
  .roomsContainerGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .roomsContainerGrid {
    grid-template-columns: 1fr;
  }

  ul {
    flex-direction: column;
  }
}
