body{
    margin: 0px;
    padding: 0px;
}

.background{
    background: url(../images/accountInfo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.backgroundTint{
    height: 100vh;
    animation-name: tint;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes tint {
    0%{
        background-color: transparent;
    }
    
    100%{
        background-color: rgba(0, 0, 0, 0.5);
    }
    }

    h1{
        text-align: center;
        color: white;
    }

    #accountInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: azure;
    }